body {
  font-family: Roboto Condensed, sans-serif;
  font-size: 22px;
}

.main {
  width: 100%;
  color: white;
}

.map-container {
  position: relative;
  margin: auto;
  color: black;
}

.map-legend {
  position: absolute;
  left: 30px;
  bottom: 50px;
  font-size: 13px;
  color: white;
  font-size: 16px;
}

.color-block {
  position: absolute;
  left: 0;
  bottom: 120px;
  width: 20;
  height: 20;
  background-color: rgba(0, 169,79, 1);
  border: solid 2px white;
}

.countries {
  font-size: 15px;
}

.county {
  padding-left: 0;
  padding-right: 0;
}

.affilates {
  font-size: 18px;
}